body {
  background-color: #D2C566;
  margin: 0;
  color: #1B75BB;
}

h1 {
  font-size: 4rem;
  padding-left: 2%;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

p {
    font-size: 16px;
}

#formulario {
  padding-left: 2%;
}

.formulario {
  font-size: 30px;
  width: 90%;
}
