* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*
gris: #E0E0DA;
*/

body {
  /*background-color: #BBBDBF;*/
  margin: 0;
  color: #1B75BB;

}


h1 {
  font-size: 3.5rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3.5rem;
}

h2 {
  font-size: 1rem;
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1rem;

}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.online {
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem;
}

h1, h2, h3 {
  padding-left: 4%;
}

h1, h2, h3 {
  font-family: 'verdana';
}

header {
  background-color: #EFEBE6;;
  background-image: url("../img/olentzero-fnd-03.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  padding-top: 10px;
  text-align: left;
}


figure {
  margin: 0;
}

figure img {
  width: 100%;
}



footer {
  font-family: verdana;
  color: white;
  text-align: center;
  /*background-image: url("../img/olentzero-fnd-02.png");*/
  background-color: #808184;
  padding: 10% 10% 20% 10%;
}

p {
    font-size: 16px;
}

txt_confirmar {
  height: 120px;
}

nav {
  padding-top: 100px;
  text-align: center;
}

nav {
  text-align: center;
  padding-right: 0px;
  margin-right: 0px;
  height: auto;
  width: 100%;

  padding-bottom: 200px;
  font-family: sans-serif;

}

nav p {
  font-size: 2rem;
  margin-bottom: 40px;
  margin-top: 0px;
}

nav img {
  width: 40%;
}


script {
  color: red;
  font-size: 40px;
}

#aitziber img {
  width: 50%;
}

#ilustracion-principal img {
  width: 100%;
  margin-bottom: 50px;
}

#btn_confirmar {
  background-color: #49BBC1; /*#39BDB4;*/
  border-radius: 18px;
  margin-top: 2%;
  width: 200px;
  color: white;
  height: 80px;
}

#cacao {
  text-align: center;
}

#cacao img {
  width: 20%;
}


#carta {
  text-align: left;
  padding-left: 10%;
}

#carta img{
  width: 20%;
}

#conectando {

}

#cv-programadora {
  display: block;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

#cv-programadora img {
  width: 70%;
}

#cv-programadora header {
  background-image: url();
  background-color: white;
  background-repeat: no-repeat;
  padding-top: 18px;
}

#cv-reposteria img {
  width: 60%;
}


/* CONSEJOS - - AHOLKUAK */
/* CONSEJOS - - AHOLKUAK */
/* CONSEJOS - - AHOLKUAK */
/* CONSEJOS - - AHOLKUAK */
/* CONSEJOS - - AHOLKUAK */
/* CONSEJOS - - AHOLKUAK */

#de-la-mano, #tu-mano, #a-ultima-hora, #mucho, #cruzar-la-calle, #solo-si-faltan, #con-certeza, #excepcionalmente, #aita-y-ama, #abrazos, #lo-son, #metro {
  display: inline-block;
  text-align: center;
  height: auto;
  margin-top: 60px;
}

#solo-si-faltan img, #cruzar-la-calle img {
  width: 45%;
}

#tu-mano img, #de-la-mano img, #con-certeza img {
  width: 40%;
}

#aita-y-ama img, #excepcionalmente img, #metro img {
  width: 55%;
}

#a-ultima-hora img, #abrazos img, #lo-son img {
  width: 50%;
}

#de-la-mano {
  display: none;
}

#eguzkilore {
  text-align: center;
  width: 100%;
}

#eguzkilore img {
  width: 40%;
}

#ilustracion-principal {
  display:block;
}

#ilustracion-principal img {
  width: 100%;
}



#formulario {
  /*background-image: url("../img/olentzero-fnd-02.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E0E0DA;
  padding-left: 2%;
  height: auto;
  padding-bottom: 200px;
}

#formulario-grupo {
  background-color: #E0E0DA;
}

#funcionamiento {
  padding-top: 40px;
  padding-bottom: 90px;
}
#icono-carbon-wifi {
  padding-top: 40px;
}
#icono-carbon-wifi, #icono-lista-del-olentzero, #icono-etxea-olentzero, #icono-regalo {
  text-align: center;
}

#icono-carbon-wifi img, #icono-lista-del-olentzero img, #icono-etxea-olentzero img {
  width: 70%;
}

#icono-regalo img {
  width: 70%;
}

#imagen {
  width: 100%;
}

#ilustracion-principal {
  background-color: #D0D2D3;
  padding-bottom: 18px;
}

#neska-txiki {
  text-align: center;
}

#neska-txiki img {
  border-top: solid 1px #D6D4D4;
  width: 60%;
}

#nombre {
  color: gray;
  font-family: 'verdana';
  font-size: 26ipx;
}

#nota {
  font-size: 110%;
}

#olentzero {
  padding-top: 60px;
  width: 100%;
  text-align: center;
}

#olentzero img {
  width: 60%;
}

#olentzero-primer-plano {
  text-align: center;
}

#olentzero-primer-plano img {

  width: 60%;
}

#olentzero-responde {
  text-align: center;
}

#olentzero-responde img {
  width: 80%;
}

#ok {
  color: #E94E1B;
}

#ok, #responder, #conectar {

}

#principal-2 header {

  background-image: url("../img/olentzero-fnd-03.png");
  background-color: #EFEBE6;
  background-repeat: no-repeat;

}

#volver {

  text-align: left;
}
#volver img {
  width: 25%;
}







.color-verde {
  color: #39BDB4;
}

.conectando {
  font-size: 18px;
  font-family: 'Verdana';
  width: 90%;
}

.formulario {
  font-size: 24px;
  font-family: 'Verdana';
  padding-left: 2%;
  width: 90%;
}

.formulario2 {
  width: 100%;
  padding-left: 0;
}

.height-auto {
  height: auto;
}

.texto {
  text-align: left;
  font-size: 18px;
  font-family: 'Verdana';
  padding-left: 2%;
  width: 90%;
}

.padding-bottom {
  padding-top: 40px;
}

.padding-left-aumentar {
  padding-left: 6%;
}

.padding-top {
  padding-top: 40px;
}

.margin-bottom-aplicar {
  margin-bottom: 60px;
}

.margin-top-aumentar {
  margin-top: 120px;
}

.margin-top-suprimir {
  margin-top: 0;
}

.reducir-texto {
  font-size: 70%;
}

.volver {
  border-bottom: 1px solid gray;
  font-size: 2em;
  font-family: sans-serif;
  color: gray;

}

.texto-aumentar {
  font-size: 160%;
}

.text-align-left {
  text-align: left;
}

.respuestas {
  font-size: 22px;
  font-family: 'Verdana';
  width: 90%;
}

.subtitulo-principal {
  font-size: 18px;
  padding-left: 5%;
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.margin_top {
  margin-top: 20px;
  margin-bottom: 10px;
  }

.negrita {
  font-weight: bold;
}

.txiki-titulo {
  font-family: 'Aref Ruqaa';
  font-size: 40px;
  border: 0px solid gray;
  text-align: center;
}

/* ................................... */
/* ................................... */
/* ................................... */
/* ................................... */


@media only screen and (min-width: 768px)
{

html {
  text-align: center;
}

body {
  max-width: 900px;
  margin: 0 auto 0 auto;
  border-top: 0;
  border-left: 1px solid gray;
  border-bottom: 0;
  border-right: 1px solid gray;
}

h1 {
  font-size: 6.3rem;
  text-align: left;
  line-height: 6rem;
}

h1, h2 {
  display: block;
}

h1, h2 {
  padding-left: 4%;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

section article {
  border: 1px solid #D3D1D1;

}


#la-carta {
  padding-top: 0px;
  padding-left: 0px;
  vertical-align: top;
}

#ilustracion-principal, #funcionamiento, #olentzero {
  display: inline-block;
}

#ilustracion-principal {
  vertical-align: top;
  padding-bottom: 58px;
}

#olentzero {
  width: 100%;
}

#ilustracion-principal {
  width: 100%;
  padding-bottom: 10px;
}

#neska-txiki img {
  width: 100%;
}



#olentzero {
  width: 45%;
  padding-top: 0px;
  /*background-image: url("../img/olentzero-fnd-02.png");*/
  background-repeat: no-repeat;
}

#olentzero, #formulario {
  display: inline-block;
}

#olentzero img {
  width: 100%;
}

#formulario {
  width: 50%;
  vertical-align: top;
  background-color: #E0E0DA;
  /*background-image: url("../img/fnd-2.png");
  background-repeat: repeat;
  */
  padding-bottom: 0;

}


#olentzero, #formulario {
  height: 600px;
  padding-bottom: 100px;
}

#funcionamiento {
  width: 100%;
  padding-bottom: 0;

}

#olentzero-responde {
  text-align: center;
  margin-top: 140px;
}

#olentzero-responde img {
  width: 80%;
}

#cv-programadora {
  margin-top: 0px;
}

#cv-programadora img {
  width: 20%;
}

#cv-programadora figure {
  display: inline;
  vertical-align: top;
  width: 20%;
}

#cv-programadora header {
  display: inline-block;
  text-align: left;
  float: right;
  width: 100%;
  background-image: url();
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 0;
  vertical-align: top;
}



#cv-programadora {
  margin-top: 50px;
  width: 100%;
  display: inline-block;
}

#cv-programadora img {
  width: 70%;
}


#de-la-mano, #tu-mano{
  padding-top: 0px;
  height: 1000px;
}

#tu-mano{
  padding-top: 150px;
}

#de-la-mano {
  vertical-align: bottom;
  display: inline-block;
}

#a-ultima-hora, #excepcionalmente {
  padding-top: 50px;
  height: 780px;
}

#aita-y-ama, #cruzar-la-calle {
  padding-top: 50px;
  height: 630px;
}

#con-certeza, #metro {
  padding-top: 50px;
  height: 780px;
}

#abrazos, #lo-son {
  padding-top: 50px;
  height: 880px;
}


.columnas {
  display: inline-block;
  width: 33%;
  height: 700px;
  vertical-align: top;
  background-color: white;
  padding-left: 3%;
}

.columnas2 {
  display: inline-block;
  width: 49%;
  height: 400px;
  vertical-align: top;
  background-color: white;
  padding-left: 3%;
}

.columnas-cv {
  display: inline-block;
  width: 47%;
  height: 700px;
  margin: 1%;
  vertical-align: top;
  background-color: yellow;
  padding-left: 3%;
}

.formulario2 {
  width: 100%;
}

.height-auto {
  height: auto;
}

nav .formulario {
  width: 100%;
}



.sin-padding-left {
  padding-left: 0;
}

.subtitulo-principal {
  font-size: 28px;
  padding-left: 4%;
  text-align: left;
}

.txiki-titulo {
  font-size: 40px;
  border: 0px solid gray;
  text-align: center;
}



} /* cierre del media query */
