body {
  /*background-color: #BBBDBF;*/
  margin: 0;
  color: #1B75BB;
}


h1 {
  font-size: 3.3rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 2rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: 'verdana';
  padding-left: 4%;
}

header {
  background-color: #D0D2D3;
  background-image: url("../img/olentzero-fnd-01.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  padding-top: 60px;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

footer {
  font-family: verdana;
  color: white;
  text-align: center;
  background-image: url("../img/olentzero-fnd-02.png");
  background-color: #C6E9F7;
  padding: 50% 10% 20% 10%;
}

p {
    font-size: 16px;
}

txt_confirmar {
  height: 120px;
}


script {
  color: red;
  font-size: 40px;
}

#aitziber img {
  width: 50%;
}

#btn_confirmar {
  background-color: #39BDB4;
  border-radius: 18px;
  margin-top: 2%;
  width: 200px;
  color: white;
  height: 80px;
}

#conectando {

}

#formulario {
  background-image: url("../img/olentzero-fnd-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C6E9F7;
  padding-left: 2%;
  height: auto;
  padding-bottom: 200px;
}

#funcionamiento {
  padding-top: 40px;
  padding-bottom: 90px;
}
#icono-carbon-wifi {
  padding-top: 40px;
}
#icono-carbon-wifi, #icono-lista-del-olentzero, #icono-etxea-olentzero, #icono-regalo {
  text-align: center;
}

#icono-carbon-wifi img, #icono-lista-del-olentzero img, #icono-etxea-olentzero img {
  width: 70%;
}

#icono-regalo img {
  width: 50%;
}

#ilustracion-principal {
  background-color: #D0D2D3;
  padding-bottom: 28px;
}

#neska-txiki {
  text-align: center;
}

#neska-txiki img {
  border-top: solid 1px #D6D4D4;
  width: 60%;
}

#nombre {
  color: gray;
  font-family: 'verdana';
  font-size: 26ipx;
}

#nota {
  font-size: 110%;
}

#olentzero {
  padding-top: 60px;
  width: 100%;
}

#olentzero-primer-plano {
  text-align: center;
}

#olentzero-primer-plano img {

  width: 60%;
}

#ok {
  color: #0B681C;
}

.color-verde {
  color: #39BDB4;
}

.conectando {
  font-size: 18px;
  font-family: 'Verdana';
  width: 90%;
}

.formulario {
  font-size: 24px;
  font-family: 'Verdana';
  padding-left: 2%;
  width: 90%;
}

.padding-left-aumentar {
  padding-left: 6%;
}

.padding-top {
  padding-top: 40px;
}

.reducir-texto {
  font-size: 20px;
}

.texto-aumentar {
  font-size: 160%;
}

.respuestas {
  font-size: 22px;
  font-family: 'Verdana';
  width: 90%;
}

.margin_top {
  margin-top: 20px;
  margin-bottom: 10px;
  }

.negrita {
  font-weight: bold;
}

@media only screen and (min-width: 768px)
{

h1, h2 {
  display: inline-block;
}

h1, h2 {
  font-size: 6.3rem;
  padding-left: 0.3em;
}

#ilustracion-principal, #funcionamiento, #olentzero {
  display: inline-block;
}

#ilustracion-principal {
  vertical-align: top;
}

#ilustracion-principal, #olentzero {
  width: 100%;
}

#olentzero {
  width: 45%;
  background-image: url("../img/olentzero-fnd-02.png");
  background-repeat: no-repeat;
}

#olentzero, #formulario {
  display: inline-block;
}

#olentzero img {
  width: 100%;
}

#formulario {
  width: 50%;
  vertical-align: top;
  background-color: #C6E9F7;
  background-image: url("../img/fnd-2.png");
  background-repeat: repeat;
}

#funcionamiento {
  width: 100%;
  float: right;
}


.columnas {
  display: inline-block;
  width: 30%;
  height: 700px;
  vertical-align: top;
  background-color: white;
  padding-left: 3%;
}

.sin-padding-left {
  padding-left: 0;
}
} /* cierre del media query */
