body {
  /*background-color: #BBBDBF;*/
  margin: 0;
  color: #1B75BB;
}


h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 2rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2 {
    padding-left: 2%;
}

header {
  background-color: #D0D2D3;
  background-image: url("../img/olentzero-fnd-01.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

p {
    font-size: 16px;
}

txt_confirmar {
  height: 120px;
}

script {
  color: red;
  font-size: 40px;
}

#btn_confirmar {
  background-color: #39BDB4;
  border-radius: 18px;
  margin-top: 2%;
  width: 200px;
  color: white;
}

#conectando {

}

#formulario {
  background-image: url("../img/olentzero-fnd-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C6E9F7;
  padding-left: 2%;
  height: 400px;
}

#ilustracion-principal {
  background-color: #D0D2D3;
}

#nombre {
  color: gray;
  font-family: 'verdana';
  font-size: 26ipx;
}

#olentzero-primer-plano {
  text-align: center;
}

#olentzero-primer-plano img {

  width: 60%;
}

#ok {
  color: #429E12;
}

.conectando {
  font-size: 18px;
  font-family: 'Verdana';
  width: 90%;
}

.formulario {
  font-size: 30px;
  font-family: 'Verdana';
  width: 90%;
}

.reducir-texto {
  font-size: 20px;
}

.respuestas {
  font-size: 22px;
  font-family: 'Verdana';
  width: 90%;
}

.margin_top {
  margin-top: 20px;
  margin-bottom: 10px;
  }
